/hack_rfid_checkin_system.sql
/.directory
/hack_rfid_checkin_empty.sql
/checkin_db_8_views_statements.txt
/checkin_db_8_views_statements.txt~
/checkin_db_v8_data.sql
/create_view_checkins.sql
/create_view_checkins.sql~
/create_views.sql.firstcut
/create_views.sql~
/hack_rfid_checkin_system_11092012_1106.sql
/hack_rfid_checkin_system_11092012_1212_V10_prepare.sql
/hack_rfid_checkin_system_11092012_1219_V10_prep.sql
/identification_media.sql
/locations_table.sql
/meetmee_checkin_10082012.sql
/meetmee_checkin_17102012_2158.sql
/meetmee_checkin_17102012_2200.sql
/meetmee_checkin_18092012_1346.sql
/meetmee_checkin_v8_20082012_1234.sql
/meetmee_checkin_v8_with_data_20082012_1233.sql
/meetmee_checkin_v9_11092012_1305.sql
/meetmee_checkin_v9_20082012_1417.sql
/meetmee_checkin_v9_20082012_1454.sql
/meetmee_checkin_v9_20082012_1529.sql
/sql_statements.txt~
/view_checkins.sql~
