#logo {
	width: 92%;
	padding-left: 0;
	padding-right: 0;
	background: url("../img/newlogo.png") left center no-repeat;
}
#content, #footer {
	width: 90%;
}


.feedback-div {
	width: 92%;
	margin: 0 auto;
	padding-left: 0;
}
.feedback-message {
	text-decoration: none;
	display: block;
	text-align: right;
	float: right;
	font-size: 83%;
}